<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/ETicaretModel.csdl|res://*/ETicaretModel.ssdl|res://*/ETicaretModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=9307ETicaret;user id=sa;password=1925;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>